# Core libraries
numpy
pandas
re
ast
os

# Machine Learning
scikit-learn
joblib

# Deep Learning
tensorflow

# NLP
nltk
textblob
vaderSentiment

# Visualization
matplotlib
seaborn

# Web App
streamlit

# Watchdog (from your logs)
watchdog==6.0.0
